.fg-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.right-container {
  justify-content: right;
  width: 35%;
}
.left-container {
  border: 2px rgba(255, 47, 255, 0.479) solid;

  float: left;
  height: fit-content;
  background-color: rgb(14, 13, 13, 0.5);
  margin: 5em auto;
  padding: 3em;
  border-top-left-radius: 95px;
  border-bottom-right-radius: 95px;
}
.left-container h3 {
  color: orangered;
}
.left-container h1 {
  text-align: left;
  color: rgba(255, 47, 255, 0.479);
}
.left-container h2 {
  color: paleturquoise;
}
.right-container img {
  display: block;
  width: 270px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  border-radius: 200px;
}
.form-container {
  width: 90%;
}
